body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    flex-wrap: wrap;
}

.body {
    display: flex;
    height: 90vh;
    width: 90vw;
    border: 2px solid red;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

.body div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    gap: 10vw;
    flex: 1;
}

#rollBtn {
    width: 400px;
    height: 200px;
    background-color: white;
}

.body {
    font-family: 'Trebuchet MS', sans-serif;
}

.options {
    display: flex;
    justify-content: space-around;
    width: 100%;
    transition: width 1s;
}

.disappear {
    opacity: 0;
}

.options button {
    width: 200px;
    flex: 0 0 auto;
    height: 200px;
}

button {
    background-color: white;
    border: black 15px solid;
    border-radius: 25px;
    font-size: 40px;
    font-weight: 700;
    transition: 0.25s;
}

.buttonSelected {
    scale: 1.1;
    background-color: aquamarine;
}

.playButtonSelected {
    scale: 1.2;
    background-color: lightgreen;
}

.hood {
    background-color: #16161d;
    height: 100vh;
    width: 100vw;
    border: 8px black solid;
    border-radius: 10px;
    margin: -8px -8px 10px -8px;
}